body {
  font-family: "Verdana", Sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(41, 38, 38);

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(84, 76, 76);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: rgb(84, 76, 76);

}

li a:hover {
  box-shadow: 0 4px 8px 0 rgba(42, 118, 200), 0 6px 20px 0 rgba(42, 118, 200);
  
}
