body {
  color: white;
  font-family: "Verdana", Sans-serif;
}

#container {
  background-color: rgb(41, 38, 38);
  border-color: rgb(28, 75, 204);
  border-radius: 2px;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(189, 184, 184);
    position: fixed;
    top: 0;
    width: 100%;
}

